body {
    margin: 0;
    background: linear-gradient(#ffe6f0, #fff);
    background-color: rosybrown;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ff9ac4;
    color: white;
    font-family: "Times New Roman", serif;
    font-display: swap;
    font-style: italic;
    font-size: 1.5em;
}
.marco {
    min-height: 100vh;
    width: 100%;
    border: 20px ridge #e466b3;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(255, 154, 196, 0.5);
    position: relative;
}

/* “Para usted” debajo de la esquina superior izquierda (~60px) */
.titulo-para-usted {
    position: absolute;
    top: 60px;
    left: 60px;
    margin: 0;
    font-family: "Times New Roman", serif;
    font-display: swap;
    font-style: italic;
    font-size: 3em;
    color: #333;
}
/* Lottie pequeño en la esquina superior derecha */
.lottie-top-right {
    position: absolute;
    top: -50px;
    right: -50px;
}

/* Lottie de flores centrado en pantalla */
.lottie-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.lottie-leftbottom {
    position: absolute;
    bottom: -10px;
    left: -5px;
}

.nasa-shortcut {
    position: absolute ; /* para que no afecte el tamaño del contenedor */
    right: 20px; /* separación del borde derecho */
    bottom: 20px; /* separación del borde inferior */
    z-index: 9999; /* por encima del resto sin cambiar su tamaño */
    text-align: center;
    font-family: inherit;
}

    .nasa-shortcut p {
        margin: 0 0 6px 0;
        font-size: 12px;
        color: #1a73e8;
    }

    .nasa-shortcut a {
        display: inline-block;
        padding: 8px 14px;
        font-size: 12px;
        color: #ffffff;
        background-color: #1a73e8;
        border-radius: 6px;
        text-decoration: none;
    }

        .nasa-shortcut a:hover {
            background-color: #1558ac;
        }
